.App {
  text-align: center;
  background-color: #1a2b38;
  color: white;
  display: flex;
  flex-direction: column;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #1a2b38;
}

.main-page-column{
  text-align: center;
  display: flex;
  background-color: #1a2b38;
  min-height: 8vh;
  display: flex;
  font-size: 5vw;
  color: white;
}

.App-header {
  background-color: #2e3f4d;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bolder;
  border-bottom: 1vh white solid;
}

.header-content{
  display: flex;
  margin-left: 3vw;
  margin-right: 3vw;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
  margin: auto;
}

.content{
  margin: auto;
}

.main-div{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin: auto;
}

.photo-div{
  margin: auto;
}

.portrait{
  width: 25vw;
  height: 25vw;
  border-radius: 25vw;
  overflow: hidden;
  border: 1vh #2e3f4d solid

}
.name{
  font-size: 8vw;
}

.profession{
  font-size: 4vw;
}