.about-page{
    z-index: 3;
    display: flex;
    margin-bottom: auto;
    margin-top: 10vh;
    flex-direction: column;
}

.about-row{
    margin: auto;
    display: flex;
}
.about-row:nth-child(3){
    margin: auto;
    margin-top: 4vh;
    display: flex;
    width: 100%;
}

.about-column{
    display: flex;
    max-height: 30vh;
}

.about-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 5vw;
    margin-top: auto;
}

.about-sideparagraph{
    letter-spacing: .1vw;

    margin-left: auto;
    max-width: 55vw;
    font-size: 1.6vw;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-paragraph{
    letter-spacing: .1vw;

    margin: auto;
    max-width: 90vw;
    font-size: 1.6vw;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-portrait{
    width: 26vh;
    height: 26vh;
    border-radius: 26vh;
    display: flex;
    margin: auto;
    margin-right: 5vw;
    margin-bottom: 20vw;
    border: 0.5vw #ffffff solid;

}

@media only screen 
and (max-device-width : 320px) {
    .about-page{
        z-index: 3;
        display: flex;
        margin-bottom: auto;
        margin-top: 15vh;
        flex-direction: column;

    }    


    .about-row:nth-child(3){
        margin: auto;
        margin-top: 4vh;
        display: flex;
        width: 100%;
    }
    
    .about-column{
        display: flex;
        max-height: 30vh;
    }
    
    .about-title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 2.5vh;
        margin-top: auto;
    }
    
    .about-sideparagraph{
        letter-spacing: 1px;

        margin-left: auto;
        max-width: 55vw;
        font-size: 1.7vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .about-paragraph{
        letter-spacing: 1px;

        margin: auto;
        max-width: 90vw;
        font-size: 1.8vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .about-portrait{
        width: 32vw;
        height: 32vw;
        border-radius: 32vw;
        display: flex;
        margin: auto;
        margin-right: 5vw;
        border: 0.5vw #ffffff solid
    }
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .about-page{
        z-index: 3;
        display: flex;
        margin-bottom: auto;
        margin-top: 15vh;
        flex-direction: column;
    }    


    .about-row:nth-child(3){
        margin: auto;
        margin-top: 4vh;
        display: flex;
        width: 100%;
    }
    
    .about-column{
        display: flex;
        max-height: 30vh;
    }
    
    .about-title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder;
        font-size: 2.5vh;
        margin-top: auto;
    }
    
    .about-sideparagraph{
        letter-spacing: 1px;

        margin-left: auto;
        max-width: 55vw;
        font-size: 1.7vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: auto;
        float: left;
    }
    
    .about-paragraph{
        letter-spacing: 1px;

        margin: auto;
        max-width: 90vw;
        font-size: 1.8vh;
        text-align: justify;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .about-portrait{
        width: 32vw;
        height: 32vw;
        border-radius: 32vw;
        display: flex;
        margin: auto;
        margin-right: 5vw;
        border: 0.5vw #ffffff solid;
    }
    
}