.curve { 
	float: left;
	margin-right:3vw; 
    shape-outside:circle();
    width: 15vw;
    height: 15vw;
    border-radius: 20vw;
    border: 0.75vw #ffffff solid;
}
.about-paragraph{
    text-align: left;
    margin-left: 1vw;
    max-width: 75vw;
    text-justify: justify;
    word-spacing: .5vh;
    font-size: 1.5em;
}
.about-page{

    margin-top: 25vh;
    margin: auto;
    z-index: 3;
    height: 100vh;
}
.about-title{
    text-align: left;
    margin: auto;
    margin-bottom:1vh;
    font-size: 3em;
}

.about-paragraph:last-child{
    margin-top:2vh;
    display:inline-block;
    text-align: center;
}
.about-paragraph:last-child:hover{

    background-color: #ffffff23;
}
@media only screen 
and (max-device-width : 320px) {
    .curve { 
        float: left;
        margin-right:2vh; 
        shape-outside:circle();
        width: 18vh;
        height: 18vh;
        border-radius: 18vh;
        border: 0.5vh #ffffff solid;
    }
    .about-paragraph{
        min-width: 100%;
        word-spacing: .5vh;
        font-size: .68em;
    }
    .about-page{
        margin-top: 10vh;
        z-index: 3;
    }
    .about-title{
        margin: auto;
        margin-bottom:1vw;
        font-size: 1em;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .curve { 
        float: left;
        margin-right:2vh; 
        shape-outside:circle();
        width: 18vh;
        height: 18vh;
        border-radius: 18vh;
        border: 0.5vh #ffffff solid;
    }
    .about-paragraph{
        min-width: 100%;
        word-spacing: .5vh;
        font-size: .9em;
    }
    .about-page{
        min-width: 85%;
     
        margin-top: 10vh;
        z-index: 3;
    }
    .about-title{
        margin: auto;
        margin-bottom:1vw;
        font-size: 1.4em;
    }
}