.App {
  text-align: center;
  background: linear-gradient(to bottom, #1b0303db, #3c0a0ab1, #aa7d0a8f);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

body {
  margin: 0;
  z-index: 1;
  width: 100vw;
  overflow-x: hidden;
}

