.App {
  text-align: center;
  background: linear-gradient(to bottom, #fe050571, #ffcd3766, #feb7054d);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

body {
  margin: 0;
  z-index: 1;
}

.main-page{
  text-align: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
