

a:link {
    color: #ffffff;
  }
  
  a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  a:active {
    color: #ffffff;
  }

.App-header-row{
    display: flex;
}

.header-content{
  text-transform: uppercase;
}

  .App-header-row{
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1vh;
  }

  .header-content{
    display: flex;
    border-bottom: 0.75vh white solid;
    background-color: #29160c;
    justify-content: center;
    margin: auto;
    cursor: pointer;
  }

  .custom-link{
    display: flex;
    margin: auto;
    padding: 1vh 1vw;
    border-radius: 14px;
    margin-left: .25vw;
    margin-right: .25vw;
    background-color: #29160cda;
    border-bottom: 0.35vh white solid;
  }
  .custom-link:hover{
    background-color: #7b5b4bcd;
  }
  
  .App-header {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
    font-weight: bolder;
    z-index: 1;
  }
  
  .header-content{
    display: flex;
    padding: 1vh 1vh;
    border-radius: 14px;
    margin-left: .5vw;
    margin-right: .5vw;
    font-weight: bolder;
    cursor: pointer;
    width: 22vw;
    height: 10vh;
  }

  .header-content:hover{
    background-color: #7b5b4bcd;
  }

  .contact-row{
    font-size: 4vh;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}


@media only screen 
and (max-device-width : 480px) { 

  .custom-link{
   
  }

  .App-header {
    display: flex;
    font-size: 1.2rem;
    color: white;
    
  }
  
  .header-content{
    width: 27vw;
    height: 6vh;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    margin-left: .5vw;
    margin-right: .5vw;
  }

  .header-content:hover{
  }

  .contact-row{
    position: fixed;
    bottom: 1%;
    right: 2%;
    font-size: 2vh;

}

} 
