.Link-page{
    z-index: 3;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
  
  
  @media only screen 
  and (min-device-width : 720px) {
.Link-page{
    display: flex;
    margin: auto;
    flex-direction: column;
}
.link-component{
    display: flex;
    flex-direction: column;
    min-width: 50vh;
}
.link-component:nth-child(2){
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    min-width: 50vh;
    
}
.link-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    min-width: 30%;
}

.link-row:nth-child(3){
    flex-direction: column;
}

.contact-bubble{
    border-radius: 42vw;
    display: flex;
}

.inner-contact-bubble{
    cursor: pointer;  

    display: flex;
    border-radius: 41vw;
    border: 0.8vh #ffffff solid;
    background-color:#d0e4f73b;
    width: 19vh;
    height: 19vh;
    margin: auto;
}
.inner-contact-bubble:hover{
    background-color:#d0e4f794;
}

.contact-name{
    margin: auto;
    margin-left: 1vh;
    margin-right: 1vh;
    font-size: 4vh;
}

  .bubble-icon{
    font-size: 11vh;
  }
  .bubble-icon-height{
    font-size: 11vh;
}
.bubble-link{
    margin: auto;
}
  }


  @media only screen 
and (max-device-width : 320px) {
    .Link-page{
        display: flex;
        margin-top: 20vw;
        flex-direction: column;
    }
    .link-component{
        display: flex;
        flex-direction: column;
        min-width: 45vw;
    }
    .link-component:nth-child(2){
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    .link-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 5vh;
        min-width: 30%;
    }
    
    .link-row:nth-child(3){
        flex-direction: column;
    
    }
    
    .contact-bubble{
        margin: auto;
        border-radius: 42vw;
        display: flex;

    }
    
    .inner-contact-bubble{
        cursor: pointer;  

        display: flex;
        border-radius: 41vw;
        border: 0.6vh #ffffff solid;
        background-color:#d0e4f73b;
        width: 32vw;
        height: 32vw;
        margin: auto;
    }
    .inner-contact-bubble:hover{
        background-color:#d0e4f794;
    }
    
    .contact-name{
        margin: auto;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 6vw;
    }
    
      .bubble-icon{
        font-size: 16vw;
        margin: auto;
      }
      .bubble-icon-height{
        font-size: 16vw;
    }
    .bubble-link{
        margin: auto;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .Link-page{
        display: flex;
        margin-top: 20vw;
        flex-direction: column;
    }
    .link-component{
        display: flex;
        flex-direction: column;
        min-width: 45vw;
        
    }
    .link-component:nth-child(2){
        display: flex;
        justify-content: flex-end;
        flex-direction: column-reverse;
    }
    .link-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 5vh;
        min-width: 30%;
    }
    
    .link-row:nth-child(3){
        flex-direction: column;
    
    }
    
    .contact-bubble{
        margin: auto;
        border-radius: 42vw;
        display: flex;

    }
    
    .inner-contact-bubble{
        cursor: pointer;  
        display: flex;
        border-radius: 41vw;
        border: 0.6vh #ffffff solid;
        background-color:#d0e4f73b;
        width: 32vw;
        height: 32vw;
        margin: auto;
    }
    .inner-contact-bubble:hover{
        background-color:#d0e4f794;
    }
    
    .contact-name{
        margin: auto;
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: 6vw;
    }
    
      .bubble-icon{
        font-size: 16vw;
        margin: auto;
      }
      .bubble-icon-height{
        font-size: 16vw;
    }
    .bubble-link{
        margin: auto;
    }
}

