  
@keyframes breathe {
  100% {
    transform: scale(1);
  }
  50%{
    transform: scale(.96);
  }
  0%{
    transform: scale(1);
  }
}
  .name{
    margin: auto;
    font-size:8rem;
  }
  
  .main-page{
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
  }

  .title{
    margin: auto;
  }

  
.portrait{
  animation-timing-function:  linear;
  animation-duration: 20s;
  animation-name: breathe;
  animation-iteration-count: infinite;
}


.portrait{
  cursor: pointer;
  width: 42vw;
  height: 42vw;
  border-radius: 42vw;
  display: flex;
  margin: auto;
  margin-top: 3vh;
  border: 1vw #ffffff solid;
  font-weight: bolder;
  letter-spacing: .4vh;
}

.inner-portrait{
  width: 41vw;
  height: 41vw;
  display: flex;
  border-radius: 41vw;
  margin: auto;
  border: 0.5vw #cf8b7a67 solid;
  background-color:#3c0a0ab1;
}
.inner-portrait:hover{
  background-color:#cf8b7a67;
}

 @media only screen 
and (max-device-width : 480px) {
  .name{
    font-size:4rem;
  }

  .portrait{
    width: 80vw;
    height: 80vw;
    border-radius: 80vw;
    margin-top: 45vw;
    border: 1vw #ffffff solid

  }
  .inner-portrait{
    width: 78vw;
    height: 78vw;
    border-radius: 78vw;
    border: .5vw #cf8b7a67 solid

  }
  .inner-portrait:active{
    background-color:#cf8b7a67;
  }
}
