  .main-page{
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .name{
    margin: auto;
    font-size:4vw;
  }
  
  .work{
    margin: auto;
    font-size: 20px;
    margin-bottom: 3vw;
  }
  
  .title{
    margin: auto;
  }

@media only screen 
and (min-device-width : 720px) 
{
.portrait{
  cursor: pointer;

  width: 42vw;
  height: 42vw;
  border-radius: 42vw;
  display: flex;
  margin: auto;
  border: 0.5vw #ffffff solid
}
.inner-portrait{
  width: 41vw;
  height: 41vw;
  display: flex;
  border-radius: 41vw;
  margin: auto;
  border: 0.2vw #d0e4f7 solid;
  background-color:#d0e4f73b;
}
.inner-portrait:hover{
  background-color:#d0e4f794;
}
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .name{
    margin: auto;
    font-size:32px;

  }
  
  .work{
    margin: auto;
    font-size:20px;
    
    margin-bottom: 5vw;
  }

  .portrait{
    width: 68vw;
    cursor: pointer;

    height: 68vw;
    border-radius: 68vw;
    display: flex;
    margin: auto;
    margin-top: 45vw;
    border: 1vw #ffffff solid
  }
  .inner-portrait{
    width: 66vw;
    height: 66vw;
    display: flex;
    border-radius: 66vw;
    margin: auto;
    background-color:#d0e4f73b;
    border: 0.6vw #d0e4f7 solid
  }
  .inner-portrait:hover{
    background-color:#d0e4f794;
  }
}

@media only screen 
and (max-device-width : 320px) {
  .name{
    margin: auto;
    font-size:24px;
  }
  
  .work{
    margin: auto;
    font-size: 12px;
    margin-bottom: 5vw;
  }

  
  .portrait{
    cursor: pointer;

    width: 68vw;
    height: 68vw;
    border-radius: 68vw;
    display: flex;
    margin: auto;
    margin-top: 45vw;
    border: 1vw #ffffff solid
  }
  .inner-portrait{
    width: 66vw;
    height: 66vw;
    display: flex;
    border-radius: 66vw;
    margin: auto;
    border: 0.6vw #d0e4f7 solid;
    background-color:#d0e4f73b;
  }

  .inner-portrait:hover{
    background-color:#d0e4f794;
  }
}

.portrait{
  animation-timing-function:  linear;
  animation-duration: 20s;
  animation-name: breathe;
  animation-iteration-count: infinite;
}

@keyframes breathe {
  100% {
    transform: scale(1);
  }
  50%{
    transform: scale(.96);
  }
  0%{
    transform: scale(1);
  }
}